# Python
__pycache__/
*.pyc

# Large files
*.zip
*.pt
*.pth
*.ckpt

# Data & Output
RM/data/ARMAP-RM-SciWorld/
RM/data/ARMAP-RM-WebShop/
# RM/data/pavo/persona
RM/data/pavo/pavo_image
output/

# Other
info.txt
TODO.txt

# Embedded Repositories
AgentBench/
RM/ARMAP-RM-LoRA/
RM/RM-alfworld/
RM/RM-game24/
RM/RM-sciworld/
RM/checkpoint-120
RM/RM-webshop/
RM/RM-pavo/
RM/VILA1.5-3b/llm
RM/VILA1.5-3b/mm_projector
RM/VILA1.5-3b/vision_tower
# Ignore LLaVA but keep the llava subfolder
LLaVA/
# !/LLaVA/llava/model